
.side {
  width: 122px;
  float:left;
  margin-left: 238px;
  border-right: 10px solid #afdcf8;
  padding-right: 36px;

}

.date1, .date2, .date3 {
  font-size: 14px;
  color: gray;
  font-family: Lato, Calibri, Arial, sans-serif;
  margin-left: 75px;

}

.date1 {
  margin-top: 10px;
}

.date2 {
  margin-top: 155px;
}

.date3 {
  margin-top: 60px;
}
.time1, .time2, .time3 {
  font-size: 48px;
  color: #6cbfee;
  font-family: Lato, Calibri, Arial, sans-serif;
  padding-bottom: 100px;
  margin-left:15px;
}

.mobile_icon, .monitor_icon, .fake_icon {
  padding-bottom: 50px;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 371px;
  width: 10px;
  position: absolute;
}

.monitor_icon {
  margin-top: 315px;
}

.fake_icon {
  margin-top: 535px;
}

.articles{
  float: right;
}

.article1:hover, .article2:hover, .article3:hover {
  background-color: #6cbfee;
}
.articles p {
  font-family: Lato, Calibri, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  width: 740px;
}

.article1, .article2, .article3 {
  margin-bottom: 10px;
  background-color: #3594cb;
  border-radius: 5px;
  color: white;
  margin-right: 157px;
  margin-bottom: 15px;
  transition: background-color 1;
  padding-top: 45px;
  padding-left: 38px;
  padding-bottom: 58px;
  width: 781px;

}

header {
  font-family: Lato, Calibri, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.arrow-left {
	width: 10px;
	height: 10px;
	color: #3594cb;
  transform: rotate(45deg)
  position: absolute;
  margin-right: 700px;
}

hr {
  width: 740px;
  margin-right: 50px;
}

.content {
  margin-top: 56px;
}
