
.side {
  width: 122px;

  float:left;
  margin-left: 238px
  
}

.date {
  font-size: 10px;
  color: gray;
}

.time {
  font-size: 48px;
  color: #6cbfee;
  font-family: "Comic Sans";
}

.icons {
  background-color: #6cbfee;
  padding-bottom: 50px;
  display: block;
  padding-left: 0px;
  padding-right: 0px;

  margin: 0 auto;
  width: 10px;
}

.article1, .article2{
  width: 781px;
  float: right;
  background-color: #3594cb;
  color: white;
  margin-right: 197px;
  padding-top: 45px;
  padding-left: 38px;

}

hr {
  width: 706px;
}
